

body {background-image: url("ugh-galaxy-orbiting-dark-25488699-1.svg");
    
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align:center;
}

h2 {color: red;
}

    p {
        position: relative;
        top: 20px;
    }

p span {
    color: powderblue;
    font-style:oblique;
}
